
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
storage/
.env
.env.test
.env.production
.env.local
.env.ci
.env.staging
.vscode/
.idea/
.DS_Store
pnpm-lock.yaml
yarn.lock
package-lock.json
package-lock.yaml
yarn.lock.nf

