name: Playwright Tests
on:
  push:
    branches: [ main ]
    paths-ignore:
      - "README.md"
      - "**/*.md"
  pull_request:
    branches: [ main ]
    paths-ignore:
      - "README.md"
      - "**/*.md"

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
        BASE_URL: ${{ secrets.BASE_URL }}
        ORANGEHRM_USER: ${{ secrets.ORANGEHRM_USER }}
        ORANGEHRM_PASS: ${{ secrets.ORANGEHRM_PASS }}
        BASE_MAIL_URL: ${{ secrets.BASE_MAIL_URL }}

    steps:
      - uses: actions/checkout@v5
      
      - name: Enable Corepack (pnpm)
        run: corepack enable
      
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: pnpm
      
      - name: Install dependencies (pnpm)
        run: pnpm install --frozen-lockfile
      
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run Playwright tests
        run: pnpm exec playwright test --project=chromium
        
      - name: Run Playwright tests Reset Password
        run: pnpm exec playwright test --project=otp
      
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30