name: Playwright Tests
on:
  # push:
  #   branches: [ main ]
  #   paths-ignore:
  #     - "README.md"
  #     - "**/*.md"
  # pull_request:
  #   branches: [ main ]
  #   paths-ignore:
  #     - "README.md"
  #     - "**/*.md"
  repository_dispatch:
    types: [run-playwright]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
        BASE_URL: ${{ secrets.BASE_URL }}
        ORANGEHRM_USER: ${{ secrets.ORANGEHRM_USER }}
        ORANGEHRM_PASS: ${{ secrets.ORANGEHRM_PASS }}
        BASE_MAIL_URL: ${{ secrets.BASE_MAIL_URL }}

    steps:
      - uses: actions/checkout@v5
      
      - name: Enable Corepack (pnpm)
        run: corepack enable
      
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: pnpm
      
      - name: Install dependencies (pnpm)
        run: pnpm install --frozen-lockfile
      
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
      - name: Run Playwright tests
        run: pnpm exec playwright test --project=chromium
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Upload HTML report to Azure
        shell: bash
        run: |
          REPORT_DIR='run-${{ github.run_id }}-${{ github.run_attempt }}'
          azcopy cp --recursive "./playwright-report/*" "https://playwrightgithub.blob.core.windows.net/\$web/$REPORT_DIR"
          echo "::notice title=HTML report url::https://playwrightgithub.z23.web.core.windows.net/${{ github.run_id }}-${{ github.run_attempt }}/index.html"
        env:
          AZCOPY_AUTO_LOGIN_TYPE: SPN
          AZCOPY_SPA_APPLICATION_ID: '${{ secrets.AZCOPY_SPA_APPLICATION_ID }}'
          AZCOPY_SPA_CLIENT_SECRET: '${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}'
          AZCOPY_TENANT_ID: '${{ secrets.AZCOPY_TENANT_ID }}'
        
      - name: Run Playwright tests Reset Password
        run: pnpm exec playwright test --project=otp
      
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Upload HTML report to Azure
        shell: bash
        run: |
          REPORT_DIR='run-${{ github.run_id }}-${{ github.run_attempt }}'
          azcopy cp --recursive "./playwright-report/*" "https://playwrightgithub.blob.core.windows.net/\$web/$REPORT_DIR"
          echo "::notice title=HTML report url::https://playwrightgithub.z23.web.core.windows.net/${{ github.run_id }}-${{ github.run_attempt }}/index.html"
        env:
          AZCOPY_AUTO_LOGIN_TYPE: SPN
          AZCOPY_SPA_APPLICATION_ID: '${{ secrets.AZCOPY_SPA_APPLICATION_ID }}'
          AZCOPY_SPA_CLIENT_SECRET: '${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}'
          AZCOPY_TENANT_ID: '${{ secrets.AZCOPY_TENANT_ID }}'